@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.ch-body {
  background-color: #ccc;
}

.bg-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 40rem;
}

.bg-img img {
  height: 100%;
  width: 100vw;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s;
  transition: all .2s;
  background-attachment: fixed;
}

.bg-img img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.ch-container {
  padding: 2rem 10rem;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  margin-top: 9rem;
  background-color: #ccc;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin-bottom: 5rem;
}

.checkout__summary {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
}

.under-line {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding: .5rem;
}

.details {
  margin-bottom: 3rem;
}

.u-list {
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
}

.u-list__item {
  list-style: none;
  padding: 0 2rem;
}

.u-list__item::before {
  content: "-";
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: .5rem;
  color: #118B9C;
}

.refund__policy {
  font-size: 1.6rem;
}

.refund__policy div {
  padding: 1rem 5.5rem;
}

.refund__policy div::before {
  content: "-";
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: .5rem;
  color: #118B9C;
}

.payment {
  width: 60%;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.home-link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.home-link a {
  padding: .5rem 0;
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

@media only screen and (max-width: 56.25em) {
  .bg-img {
    height: 28rem;
  }
  .ch-container {
    padding: 7rem;
    margin-top: 4rem;
  }
  .checkout {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .checkout__heading {
    margin-bottom: 1rem !important;
  }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-link {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .u-list {
    padding: 1rem;
  }
  .refund__policy {
    padding: 0;
  }
}

.fr-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.con-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.con-img .img {
  background-image: url(../media/yemen9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: auto;
}

.form {
  padding: 1.5rem 5rem;
  grid-column: 4 / -1;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form h2 {
  margin-bottom: 5rem;
}

.form__input {
  width: 50%;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Nunito", sans-serif;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
}

.form__label {
  font-size: 1.5rem;
  color: #CC9C6E;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form p {
  margin: 1.5rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.form p a {
  text-decoration: none;
  color: #995E25;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.btn {
  border: 3px solid transparent;
  padding: 1rem 2.5rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #ccc;
  color: #995E25;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  -webkit-transform: scale(1.1) rotate(0.5deg);
          transform: scale(1.1) rotate(0.5deg);
  color: #995E25;
}

.btn-text {
  display: inline-block;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #995E25;
  padding: .5rem;
  margin-top: 1rem;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-text:hover {
  text-decoration: none;
}

.btn-text span {
  margin-top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.btn-text:hover {
  color: #fff;
  background-color: #995E25;
}

#img {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.imge {
  position: absolute;
  text-align: center;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  color: #ccc;
  bottom: 7rem;
}

@media only screen and (max-width: 56.25em) {
  .fr-container {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .con-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .con-img .img {
    height: 100%;
  }
  .form {
    width: 70rem;
    grid-column: 1 / -1;
    grid-row: 2 /-1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 5rem;
  }
  .form__input {
    width: 80%;
  }
}

.header {
  height: 100vh;
  width: 100vw;
}

.header__text--box {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Josefin Sans", sans-serif;
}

.header__text--box p {
  color: white;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1.5rem 3.5rem;
  border-radius: 2.5rem;
}

.header__btn {
  max-width: 20rem;
}

.header__btn a {
  text-decoration: none;
}

.header__logo--box {
  height: 100%;
  width: 100vw;
}

.header__logo--img {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../media/tabuk.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/tabuk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.section__about {
  padding: 10rem 4rem;
  font-size: 1.5rem;
  height: 95vh;
  width: 100vw;
}

.section__about h2 {
  margin-bottom: 3rem;
}

.about--container {
  max-width: 105rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.9;
}

.map iframe {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.more {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.more__img {
  width: 100%;
  height: 100%;
  background-image: url(../media/coffee.jpeg);
  background-size: cover;
  background-position: bottom right;
}

.more__heading {
  position: absolute;
  top: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}

.more__paragraph {
  font-size: 1.6rem;
  padding: 2.5rem 5rem;
  margin: 3rem;
  margin-bottom: 5rem;
  position: absolute;
  top: 15%;
  width: 50%;
  height: 100%;
}

.book {
  height: 100vh;
  width: 100vw;
}

.book__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.book-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding: 4rem 8rem;
}

.book__header {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  color: #415870;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.book__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 5rem;
}

.book__input {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  color: #494848;
  border: none;
  border-radius: .5rem;
}

.book__input:focus {
  outline: none;
}

.book__input::-webkit-input-placeholder {
  color: #92979c;
}

.book__input::-webkit-datetime-edit-text {
  color: #92979c;
}

.book__input::-webkit-datetime-edit-month-field {
  color: #494848;
}

.book__input::-webkit-datetime-edit-day-field {
  color: #494848;
}

.book__input::-webkit-datetime-edit-year-field {
  color: #494848;
}

.book__input::-moz-datetime-edit-month-field {
  color: #494848;
}

.book__input::-moz-datetime-edit-day-field {
  color: #494848;
}

.book__input::-moz-datetime-edit-year-field {
  color: #494848;
}

.book-right {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
}

.book__bg {
  background-image: url(../media/book-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: auto;
}

@media only screen and (max-width: 75em) {
  .section__about {
    height: 85%;
    padding: 5rem 4rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .map, .about--btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .more__paragraph {
    font-size: 1.5rem;
    margin: 2rem;
    padding: .5rem;
  }
  .more__img {
    background-image: url(../media/coffee1.jpeg);
    background-position: top;
  }
}

@media only screen and (max-width: 56.25em) {
  .header {
    height: 80vh;
  }
  .header__text--box {
    top: 48%;
  }
  .header__text--box p {
    font-size: 3rem;
  }
  .more {
    height: 85vh;
  }
  .more__paragraph {
    font-size: 1.4rem;
    margin: 3rem;
    padding: 2rem;
    width: 95vw;
    top: 24%;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    height: 50vh;
  }
  .header__text--box {
    top: 28%;
  }
  .header__text--box p {
    font-size: 3rem;
  }
  .book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book__container {
    margin-top: 15rem;
  }
  .book-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    padding: 3rem;
  }
  .book__form {
    grid-gap: 3rem;
  }
  .book-right {
    display: none;
  }
  .book__header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .map iframe {
    width: 35rem;
  }
  .more {
    height: 78vh;
  }
  .more__img {
    background-image: url(../media/coffee1.jpeg);
    background-position: top;
    height: 76%;
  }
  .more__paragraph {
    font-size: 1.4rem;
    margin: 2rem;
    padding: 0.5rem;
    top: 12rem;
  }
  .more__heading {
    top: 5rem;
  }
  .packages__header {
    margin-top: -5rem !important;
  }
}

.flex__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  background-color: #FFFBE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito", sans-serif;
  min-height: 7rem;
}

.nav-list {
  margin-right: 2rem;
  font-family: inherit;
  margin-bottom: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 5px;
  font-family: inherit;
}

.nav-item a {
  color: #876445;
  text-transform: uppercase;
  padding: .7rem 1.3rem;
  font-size: 2rem;
  border-radius: 3px;
  font-family: inherit;
}

.nav-item a:active, .nav-item a:hover {
  background-color: #876445;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.checkbtn {
  float: right;
  color: #fff;
  font-size: 3rem;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.logo-box {
  height: 5rem;
  padding-left: 1rem;
}

.logo-box img {
  height: 100%;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #464646;
  color: #fff;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li {
  list-style: none;
  padding: 0 1.7rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 1.5rem;
  cursor: pointer;
}

.footer ul li:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: rgba(255, 255, 255, 0.05);
}

.footer__social-icons a {
  font-size: 2.5rem;
  padding: 0 1.5rem;
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__social-icons a i {
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 1.5rem;
}

.footer__social-icons a i:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media only screen and (max-width: 37.5em) {
  .nav-bar {
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .checkbtn {
    display: block;
  }
  .nav-list {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    top: 7rem;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 100;
  }
  .nav-item {
    display: block;
    margin: 6rem 0;
    font-weight: bold;
  }
  .nav-item a {
    font-size: 2rem;
    color: #2c3e50;
    padding: 2rem;
  }
  .nav-item a:hover, .nav-item a:active {
    background-color: none;
    color: #fff;
    text-decoration: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .nav__username {
    display: none;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  .footer__social-icons a {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .footer__social-icons a i {
    padding: 1rem;
  }
}

.container {
  padding: 2rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
  position: relative;
}

.card {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  height: 51rem;
  width: 30rem;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.package__picture {
  height: 23rem;
  width: 100%;
}

.package__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.package__heading {
  text-align: center;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.package__heading--span {
  background-color: #fff;
  display: inline-block;
  padding: .5rem 1rem;
}

.package__details {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  margin-top: -3rem;
  height: 14rem;
}

.package__details ol {
  padding: .5rem 2rem;
}

.package__details li {
  padding: 0;
  margin: 0;
  list-style: square;
}

.book-btn {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  padding: 1.5rem 3.5rem;
  margin: 2.5rem;
  background-color: #415870;
  color: #E3FFEE;
  cursor: pointer;
  border-radius: 10rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.book-btn:hover {
  -webkit-transform: scale(1.1) rotate(0.2deg);
          transform: scale(1.1) rotate(0.2deg);
  color: #E3FFEE;
  text-decoration: none;
}

@media only screen and (max-width: 37.5em) {
  #package__header {
    margin-top: 11rem;
  }
}

.header-secondary {
  font-size: 6rem;
  font-family: 'DM Sans', sans-serif;
  color: #995E25;
  text-transform: capitalize;
}

.heading--2 {
  font-size: 3rem;
  color: #118B9C;
  font-family: "Josefin Sans", sans-serif;
}

.heading-3 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.heading--4 {
  padding: 0 2.5rem;
  font-size: 2.5rem;
}

.u-center-text {
  text-align: center;
}

.u-center-block {
  margin: 0 auto;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-hg {
  margin-top: 8rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
}

.gallery__item {
  position: relative;
  margin: 0;
}

.gallery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery__item--3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery__item--4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery__item--5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.gallery__item--6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

.gallery__item--7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.gallery__item--8 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.gallery__item--9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.gallery__item--10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery__item--11 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery__item--12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery__item--13 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 /8;
}

.gallery__item--14 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: block;
}

.gallery__img-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  font-size: 1.3rem;
  visibility: hidden;
  opacity: 0;
  padding: 0 .75rem;
  /* transition effect. not necessary */
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  margin: 0;
}

.gallery__item:hover .gallery__img-description {
  visibility: visible;
  opacity: 1;
}

.gallery__item:hover .gallery__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@media only screen and (max-width: 37.5em) {
  .gallery {
    padding: .5rem 0;
    grid-gap: .5rem;
  }
  .gallery__img-description {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */