{%  load static %}
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tabuk/style.css' %}">
    <script src="https://kit.fontawesome.com/c55ef87e0b.js" crossorigin="anonymous"></script>

    <title>Checkout</title>
</head>

<body class="ch-body">
    <div class="bg-img">
       <img src="{% static 'media/imge.jpg' %}" alt="">
    </div>
    <div class="ch-container">
        <div class="checkout"> 
            <div class="checkout__summary" style="margin-top: -1rem;">
                <h2 class="heading--2 mb-md checkout__heading">Booking Summary</h2>
                <h4 class="heading--4">Package to {{ checkout.package.destination }}</h4>
                <ul class="u-list">
                    <li class="u-list__item"><h4 style="display: inline-block;">Adults:</h4>   <h4 style="display: inline-block;"></h4>   {{ book.adults }} </li>
                    {% if book.children > 0 %}
                    <li class="u-list__item">  <h4 style="display: inline-block;"> Children: </h4> {{ book.children }}</li>
                    {% endif %}
                    <li class="u-list__item"><h4 style="display: inline-block;">From:</h4> {{ book.start_date }}</li>
                    <li class="u-list__item"><h4 style="display: inline-block;">To:</h4> {{ end_date }}</li>
                    <li class="u-list__item"><h3 style="display: inline-block;">Grand total: <span id="total_price">{{ total_price }}</span>$</h3></li>
                </ul>
            </div>
    
            <div class="details">
                <h2 class="heading--2 mb-sm checkout__heading">Package Details</h2>
                <h4 class="heading--4">The Package includes</h4>
                <ul class="u-list">
                    <li class="u-list__item">Transportations</li>
                    <li class="u-list__item">Breakfast</li>
                    <li class="u-list__item">Lunch</li>
                    <li class="u-list__item">Snacks</li>
                    <li class="u-list__item">Hot and cold drinks</li>
                    <li class="u-list__item">Tour guides</li>
                </ul>
            </div>
                
           <div class="refund__policy">
                <h2 class="heading--2 mb-sm checkout__heading">Refund Policy</h2>
                <div>Refund is not allowed</div>
           </div>
        </div>
        

      <div class="bottom">
        <div class="payment">
            <div id="paypal-button-container"></div>
    
            <script src="https://www.paypal.com/sdk/js?client-id=AROpjvIO0-pMlnML6SVaaYOcExtgfxS3xTtC_nwEeavv9-7LUuDoK3Q_FpXBdYBxf97mMsYZ4v5ErF0L&currency=USD"></script>
    
            <script>
                paypal.Buttons({
    
                    style: {
                        color:  'blue',
                        shape:  'rect',
                        label:  'pay',
                        height: 40
                    },
            
                    // Sets up the transaction when a payment button is clicked
                    createOrder: function(data, actions) {
                      return actions.order.create({
                        purchase_units: [{
                          amount: {
                            value:  document.getElementById('total_price').innerHTML, // '1.01' Can reference variables or functions. Example: `value: document.getElementById('...').value`
                          }
                        }]
                      });
                    },
            
                    // Finalize the transaction after payer approval
                    onApprove: function(data, actions) {
                      return actions.order.capture().then(function(orderData) {
                        // Successful capture! For dev/demo purposes:
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            var transaction = orderData.purchase_units[0].payments.captures[0];
                            alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
            
                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        // var element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                      });
                    }
                }).render('#paypal-button-container');
            
            </script>
    
        </div>

        <div class="home-link">
            <a href="{% url 'index' %}">Back To Home</a>
        </div>
      </div>  
        
    
    </div>
    
    <footer class="footer">
        <ul>
          <li>Terms and conditions</li>
          <li>Privacy policy</li>
          <li>Contact us</li>
        </ul>
  
        <div class="footer__social-icons">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </footer>
</body>
</html>

